.clothingmenu {
    position: relative;
    width: 100vw;
    overflow-x: scroll;
    scrollbar-width: thin;
    height: 200px;
    display: flex;
    top: 30px;
    gap: 10px;
}

.clothingmenu img {
    cursor: "pointer";
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 252);
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.26);
}
