.carousel {
    display: flex;
    flex-direction: row !important;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horisontally */
    gap: 10px; /* Distance between arrows and menu */
    margin: 20px 0; /* Adds some margin around the menu */
    width: 100%;
}

.carousel button.navButton {
    background-color: #ffffff; /* Light background for arrows*/
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%; /* Make buttons round */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding some shadow */
}

.carousel button.navButton:hover {
    transform: scale(1.1); /* Zoom-effect on hover */
}

.clothingmenu {
    display: flex;
    flex-direction: row; /* Align clothes horisontally */
    gap: 10px; /* Distance between clothing images */
    overflow: hidden; /* Hide images outside the view */

}

.clothingmenu img {
    width: 8em; /* Size of clothes */
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s; /* Animation when clicking */
}

.clothingmenu img:hover {
    transform: scale(1.1); /* Zoom-effect on hover */
}

.selected {
    border: 3px solid green;
    border-radius: 5px;
    padding: 2px;
  }
