.clothingmenu {
    display: flex;
    flex-direction: row; /* Align clothes horisontally */
    align-items: center; /* Center content vertically */
    justify-content: space-evenly;
    width: 100%;
}

.navButton {
    background-color: #ffffff; /* Light background for arrows*/
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%; /* Make buttons round */
    border: grey 2px solid;
    height: 40px;
    margin: auto 0;
}

.navButton:hover {
    transform: scale(1.1); /* Zoom-effect on hover */
    background-color: #eeeeee;
}

.clothingmenu img {
    max-width: 12em; /* Size of clothes */
    height: auto;
    /*object-fit: cover;*/
    cursor: pointer;
}

.clothingmenu img:hover {
    transform: scale(1.1); /* Zoom-effect on hover */
}

.selected {
    border: 3px solid green;
    border-radius: 10px;
    padding: 2px;
  }
