/*
  --------------------------------------
  || GENERAL PAGE FORMAT & BACKGROUND //
  --------------------------------------
*/

html { /* Border box*/
  box-sizing: border-box;
}

*, *::before, *::after { /* Box-sizing & removing margin &padding */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {/* Page general format */
  min-height: 80vh; /* Main covers entire window height, placing footer at bottom */
  display: flex; /* Make main a flexbox */
  flex-direction: column;
}

/*
  ------------------------
  || GENERAL TYPOGRAPHY //
  ------------------------
*/

* { /* Base font */
  font-family: "Comic Neue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
}

/*
  -------------
  || BUTTONS //
  -------------
*/

button {
  line-height: 1; /* Center button text vertically */
  font-weight: bold;
  border-radius: 5px; /* Make buttons round */
  cursor: pointer;
}

.weatherButton {
  background-color: #eb4e1e;
  border: none;
  color: white;

  font-size: 1.5rem;
  padding: 15px;
  margin: 20px auto 50px 40px; /* Lock position upper left*/

  animation: pulse 2s infinite;
}

.weatherButton:hover {
  background-color: #ED3621;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.03); /* Ökar storleken */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.61); /* Ökar ljuseffekten */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

/*
  ------------------------------------------------------------
  || BACKGROUNDS (changed with classes according to weather //
  ------------------------------------------------------------
*/

html {
  background-color:#c3f5ff;
}

.clear-sky {
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

.cloudy {
  background: linear-gradient(to bottom, #d3d3d3, #808080); /* Backup if image is not available */
  background-image: url("../public/backgrounds/cloudy-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}

.foggy {
  background: linear-gradient(to bottom, #bfbfbf, #e6e6e6);
}

.rainy {
  background: linear-gradient(to bottom, #4a90e2, #00509e);
}

.snowy {
  background: linear-gradient(to bottom, #ffffff, #d9faff); /* Backup if image is not available */
  background-image: url("../public/backgrounds/snowy-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}

.thunderstorm {
  background: linear-gradient(to bottom, #000000, #434343);
}

.default-bg {
  background: linear-gradient(to bottom, #ffffff, #f0f8ff); /* Backup if image is not available */
  background-image: url("../public/backgrounds/deafult-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}

/* CLOTHING MENU */
.clothesMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; /* To place buttons on either side */
  position: relative;
  width: 90%;
  margin: 10px auto;
  /*height: 10rem;*/
}

/* BUTTONS */
.menuButton  {
  position: relative;
  padding: 1rem;
  border-radius: 50%; /* Make buttons round */

  background-color: #eb701e;
  border: #eb701e 3px solid;
  color: #ffffff;
  font-size: 2rem;
  animation: pulse 2s infinite;
}

.menuButton:hover {
  background-color: #ff8b3d;
  color: white;
  border: #ff8b3d 4px solid;
}

@keyframes pulse {
0% {
  transform: scale(1);
  box-shadow: 0 0 2px rgb(0, 0, 0);
}
50% {
  transform: scale(1.03); /* Ökar storleken */
  box-shadow: 0 0 3px rgb(0, 0, 0); /* Ökar ljuseffekten */
}
100% {
  transform: scale(1);
  box-shadow: 0 0 2px rgb(0, 0, 0);
}
}

/* CLOTHING MENU */

.carousel {
  flex: 1; /* Take up all available space */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; /* Center clothing menu vertically */
  gap: 30px;
  height: 100%;
  overflow: hidden;
}

/* CLOTHING IMAGES */

.carouselImage {
  flex: 1; /* Take up all available space */
  max-width: 15%; /* Size of clothes */
  height: auto;

  cursor: pointer;
  border: #eb701e 3px solid;
  border-radius: 20px;
  background-color: white;

  transition: transform 0.3s ease; /* Smooth scaling effect */
}

.carouselImage:hover {
  transform: scale(1.1); /* Zoom-effect on hover */
}

.selected {
  border: 3px solid rgb(6, 170, 6) !important;
  border-radius: 10px !important;
  background-color: rgb(214, 255, 214) !important;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: rgb(128, 190, 248);
}