/*
  --------------------------------------
  || GENERAL PAGE FORMAT & BACKGROUND //
  --------------------------------------
*/

html { /* Border box */
  box-sizing: border-box;
}

*, *::before, *::after { /* Box-sizing & removing margin &padding */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {/* Page general format */
  min-height: 80vh; /* Main covers entire window height, placing footer at bottom */
  display: flex; /* Make main a flexbox */
  flex-direction: column;
}

.container { /* Base format for content containers */
  width: 90vw;
  max-width: 1200px; /* Limit on large screens */
  margin: 0px auto; /* Keep content spaced and centered */
  padding: 2vw;

  border-radius: 10px;
  /*border: green 2px solid;*/

  text-align: center;
}

/*
  ------------------------
  || GENERAL TYPOGRAPHY //
  ------------------------
*/

* { /* Base font */
  font-family: "Comic Neue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;;
}

/*
  -------------
  || BUTTONS //
  -------------
*/

button {
  line-height: 1; /* Center button text vertically */
  color: rgb(0, 43, 0);
  font-weight: bold;

  font-size: 20px;
  border-radius: 5px; /* Make buttons round */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding some shadow */
}

.weather button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  transform: scale(1.01); /* Zoom-effect on hover */
  background-color: #78d449;
  border: 2px solid #4caf50;
}

/*
  -----------------
  || BACKGROUNDS //
  -----------------
*/

/* Klar himmel */
.clear-sky {
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

/* Molnigt */
.cloudy {
  background: linear-gradient(to bottom, #d3d3d3, #808080); /* Backup if image is not available */
  background-image: url("../public/backgrounds/cloudy-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}

/* Dimma */
.foggy {
  background: linear-gradient(to bottom, #bfbfbf, #e6e6e6);
}

/* Regn */
.rainy {
  background: linear-gradient(to bottom, #4a90e2, #00509e);
  animation: rain-animation 2s linear infinite;
}

@keyframes rain-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Snö */
.snowy {
  background: linear-gradient(to bottom, #ffffff, #d9faff); /* Backup if image is not available */
  background-image: url("../public/backgrounds/snowy-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;

  animation: snow-animation 4s linear infinite;
}

@keyframes snow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Åskstorm */
.thunderstorm {
  background: linear-gradient(to bottom, #000000, #434343);
  animation: thunder-animation 3s linear infinite;
}

@keyframes thunder-animation {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #808080;
  }
}

/* Standardbakgrund */
.default-bg {
  background: linear-gradient(to bottom, #ffffff, #f0f8ff); /* Backup if image is not available */
  background-image: url("../public/backgrounds/deafult-bg.png");
  background-size: cover;
  background-position: center bottom 25%;
  background-repeat: no-repeat;
}

/*
  ------------------------
  || WEATHER CONTAINER //
  ------------------------
*/

.weather {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
  padding: 5px;

  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.26);
  background-color: white;
};

.weather div {
  display:flex;
  flex-direction: row;
  gap: 10px;
}

.carousel {
  display: flex;
  flex-direction: row;

  align-items: center; /* Center content vertically */
  /*justify-content: center;*/ /* Center content horisontally */

  /*gap: 10px; *//* Distance between arrows and menu */
  margin: 0 auto; /* Adds some margin around the menu */
  width: 90vw;
  max-width: 1200px;
}
