html,
body {
  /*background-color: #f8fafc;*/
  height: vh; /* Make body as high as viewers window */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 0.5s ease;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 200px;
  min-height: 240px;
  background-color: white;
};

/* Klar himmel */
.clear-sky {
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

/* Molnigt */
.cloudy {
  background: linear-gradient(to bottom, #d3d3d3, #808080);
}

/* Dimma */
.foggy {
  background: linear-gradient(to bottom, #bfbfbf, #e6e6e6);
}

/* Regn */
.rainy {
  background: linear-gradient(to bottom, #4a90e2, #00509e);
  animation: rain-animation 2s linear infinite;
}

@keyframes rain-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Snö */
.snowy {
  background: linear-gradient(to bottom, #ffffff, #d9faff);
  animation: snow-animation 4s linear infinite;
}

@keyframes snow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

/* Åskstorm */
.thunderstorm {
  background: linear-gradient(to bottom, #000000, #434343);
  animation: thunder-animation 3s linear infinite;
}

@keyframes thunder-animation {
  0%, 100% {
    background-color: #000;
  }
  50% {
    background-color: #808080;
  }
}

/* Standardbakgrund */
.default-bg {
  background: linear-gradient(to bottom, #ffffff, #f0f8ff);
}
