.landingPage {
  text-align: center;
  background-image: url('/backgrounds/deafult-bg.png');
  background-size: cover;
  background-position: center;
  color: rgb(20, 25, 66);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 2rem;
}

.heroText {
  max-width: 600px;
  margin-bottom: 2rem;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.heroText h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.ctaButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #ff5733;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.03); /* Ökar storleken */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.61); /* Ökar ljuseffekten */
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
}

.ctaButton:hover {
  background-color: rgb(243, 62, 30);
  border:#ff2600 solid 2px;
}

.heroImage img {
  max-width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
  margin: 15px auto;
}

@media (max-width: 600px) {
  .heroText {
    margin-top: 40%;
  }
  .heroImage img {
    position: relative;
    margin: 30px auto;
    width: 100%;
  }
  .ctaButton {
    margin-bottom: 10px;
  }
}