.speechBubble {
	position: relative;
	background: #ffffff;
	border-radius: 1em;
	width: fit-content;
	margin: 80px auto 15px auto;
	padding: 30px 20px;
	font-weight: bold;
	font-size: 1.3em;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}
