.header {
    margin: 30px auto 10px auto;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}

.textPages {
    width: 70vw;
    margin: 30px auto;
    padding: 30px;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.textPages div {
    max-width: 400px;
}
